<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div>
  <%= link_to "Editar", edit_produto_path(@produto), class: "btn btn-dark", style: "margin-right: 30px;" %>
  <%= link_to "Apagar", @produto, method: :delete, class: "btn btn-dark" %>

  <br> <br>
  <%= link_to "Retornar à listagem", produtos_path, class: "btn btn-dark" %>
</div>
